<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
    <script type="module" src="/js/editprofile.js" defer></script>
</head>
<body>
    <div>
        <h1>Edit Your Profile Information</h1>
    </div>
    <div>
        <form id="editForm">
            <input type="text" name="username" placeholder="Enter a new username">
            <input type="email" name="email" placeholder="Enter a new email">
            <input type="password" name="password" placeholder="Enter a new password">
            <button type="submit">Change</button>
        </form>
    </div>
    <div>
        <button id="goHome">Home</button>
    </div>
   
</body>
</html>
